/* 隐藏 scrollbar */
::-webkit-scrollbar {
    display: none;
  }
  
  /* 文字选取颜色 */
  ::selection {
    background: aquamarine;
    color: black;
  }
  
  /* Smooth Scroll 顺滑跳转到某位置 */
  html {
    scroll-behavior: smooth;
  }
  
  img {
    border: 3px solid black;
    background: white;
  }
  
  img[alt=badge] {
    border: none;
  }
  

  img[alt=logo] {
    border: 1px solid black;
  }
  
  div[alt=iframe_viewer] {
    border-radius: 0px 0px 4px 4px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    max-width: 1280px;
    max-height: 700px;
    box-sizing: border-box;
  }